/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      .controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      
      .controls:focus {
        border-color: #4d90fe;
      }
      
      .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }

      #panel {
        position: absolute;
        top: 10%;
        left: 0%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      
      .open {
        width: 250px;
      }
      
      .place {
        font-family: 'open sans', arial, sans-serif;
        font-size: 1.2em;
        font-weight: 500;
        margin-block-end: 0px;
        padding-left: 18px;
        padding-right: 18px;
      }
      
      .distanceText {
        color: silver;
        font-family: 'open sans', arial, sans-serif;
        font-size: 1em;
        font-weight: 400;
        margin-block-start: 0.25em;
        padding-left: 18px;
        padding-right: 18px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
       
      li {
        font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc;
      }
       
      li:last-child {
        border: none;
      }
       
      li:hover {
        font-size: 30px;
        background: #f6f6f6;
      }

      .wrapper{
          margin-top:10px;
          border:solid 1px red;
          position :relative;
          width: 100%;
          margin: 0px auto;
          height:1000px;
      }

      .container {
        position : absolute;
        top:0;
        right:0;
        background: orange;
        width: 50%;    
        height: 80%;
      }